{:schema "kotoba.repository-role-rules.v0"
 :this-repo
 {:name "release"
  :tier :t4
  :role :assurance
  :must-not [:define-language-semantics :provide-storage :execute-components]
  :depends-on ["kotoba-lang/kotoba-lang"
               "kotoba-lang/org-ietf-ed25519"
               "kotoba-lang/security"]}}
